:root {
    --accent-color: #D41443;
    --second-accent-color: #FFA5BA;
    --primary-text-color: #000000;
    --secondary-text-color: #907E82;
    --icon-color: #FFFFFF;
    --accent-btn-hover: #C7133E;
    --btn-hover-color: #ECEBEB;

    --hero-bg: #FFB8CA;
    --primary-bg: #FFF5F6;
    --ice-cream-pink-bg: #FFB8CA;
    --ice-cream-coffee-bg: #F0D1A5;
    --ice-cream-green-bg: #C2E297;
    --quotes-bg: #FAFAFA;
    --quotes-btn-bg: #D9D9D9;

    --mobile-menu-border: #E18298;
    --footer-border: #E1E1E1;
}

$tablet-break-point: 768px;
$desktop-break-point: 1200px;