.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .container {
        padding-top: 80px;
    }

    &__collage {
        display: flex;
        justify-content: center;
        width: 100%;
        background-image: linear-gradient(to bottom, var(--primary-bg) 0 48px, var(--clear-white) 48px 100%);

        @include tablet {
            background-image: linear-gradient(to bottom, var(--primary-bg) 0 106px, var(--clear-white) 106px 100%);
        }

        @include desktop {
            background-image: linear-gradient(to bottom, var(--primary-bg) 0 171px, var(--clear-white) 171px 100%);
        }
        
    }
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-list {
    display: flex;
    margin-bottom: 30px;
    max-width: 100%;
    overflow: hidden;
}

.review-list__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.review-list__element__img {
    display: block;
    margin-bottom: 29px;
}

.review-list__element__quote-wrapper {
    position: relative;
    padding: 44px 57px 26px 57px;
    background-color: var(--quotes-bg);
    margin-bottom: 30px;

    @include tablet {
        padding: 47px 80px 34px;
        min-width: 620px;
    }

    @include desktop {
        padding: 47px 89px 39px 87px;
        min-width: 926px;
    }
    
    .quotes {
        position: absolute;
        top: 28px;
        left: 61px;
        height: 40px;
        width: 54px;
        fill: var(--primary-border);

        @include tablet {
            left: 40px;
        }
    }
}

.review-list__element__quote {
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.65;
    text-align: center;
    max-width: 157px;
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom, transparent 0 31px, var(--primary-border) 31px 100%);
    background-size: 100% 32px;

    @include tablet {
        font-size: 14px;
        line-height: 2.16;
        max-width: 460px;
    }

    @include desktop {
        font-size: 16px;
        line-height: 2.16;
        max-width: 822px;
    }
}

.review-list__element__dots {
    fill: var(--accent-color);
    height: 4px;
    width: 32px;
    margin-bottom: 30px;
}

.review-list__element__info {
    font-size: 14px;
    font-weight: 500;
}

.slider-button-list {
    display: flex;
    align-items: center;

    &__element:not(:last-child) {
        margin-right: 18px;
    }
}

.slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--quotes-btn-bg);

    &.selected {
        background: none;
    }

    &__icon {
        height: 12px;
        width: 12px;
        fill: var(--accent-color);
    }
}